 

 body {
    font-family: 'Special Elite', cursive;
    background-color: greenyellow;
 }

 .header_div{
     background-color: white;
     color: orange;
 }

 .header_div p{
     font-family:Arial, Helvetica, sans-serif;
     color: grey;
     letter-spacing: 2px;
     font-size: 12px;
     font-weight: bold;
 }

 .main_div button{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     margin-top: 30px;
     width: 130px;
     font-weight: bold;
     letter-spacing: 3px;
 }

 .copy_right_footer{
     position: fixed;
     bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 18px; 
    color: grey;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
 }